{% extends 'base.html' %}

{% block title %}Pixel Lane 2022{% endblock title %}
{% block eventsactive %}active{% endblock eventsactive %}
{% block body %}
<style>
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
/* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

</style>
{% comment %} <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style=" height:100vh; width:100vw; background-color: rgba(0,0,0,0.9);">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content d-flex justify-content-center" style="background-color: transparent; height:100vh">
      <div class="container float-right">
        <button type="button" class="btn-close btn-close-white float-right" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <img class="img-fluid" src="/media/static/6.jpg" data-bs-dismiss="modal" aria-label="Close" style="max-height:80vh; max-width:80vw; object-fit: contain">
      </div>
    </div>
  </div>
</div> {% endcomment %}

{% comment %} <div class="d-flex align-items-center justify-content-center" style="height:60vh" >
<h3>Coming Soon...</h3>
</div> {% endcomment %}
<div class="container">
  <div class="row">
    <div class="column">
      <img  src="/media/Pixel Lane 2022/Landscape webp/Aman 1.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Aman 2.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Aman 3.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Aman 4.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Aman 5.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Aman 6.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Aman 7.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Anas 1.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Anas 2.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Chirayu 1.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Hrishabh 1.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Ishita 1.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
    </div>
    <div class="column">
      <img  src="/media/Pixel Lane 2022/Landscape webp/Mandeep 1.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Mandeep 2.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Mandeep 3.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Mandeep 4.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Prathamesh 1.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Prathamesh 2.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Shubhangi 1.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Shubhangi 2.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Shubhangi 3.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Shubhangi 4.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Shubhangi 5.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 1.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
    </div>
    <div class="column">
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 2.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 3.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 4.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 5.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 6.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 7.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 8.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 9.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 10.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 11.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 12.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 13.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 14.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 15.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Tushar 16.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
    </div>
    <div class="column">
      <img  src="/media/Pixel Lane 2022/Landscape webp/Yash Kharat 1.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Yash Kharat 2.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Yash Kharat 3.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Yash Kharat 4.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Yash Kharat 5.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Yash Kharat 6.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Yash Kharat 7.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Yash Kharat 8.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Yash Kharat 9.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
      <img  src="/media/Pixel Lane 2022/Landscape webp/Yash Kharat 10.webp" data-bs-toggle="modal" data-bs-target="#Modal1" style="cursor: pointer;" >
    </div>
  </div>
</div>

{% endblock body %}